<div class="w-100 mt-5 container-fluid">
  <h2 class="text-center">Log in</h2>

  <div class="w-100 mt-3 d-flex-center flex-column">
    <div class="w-60">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'd-flex-center flex-column') do |f| %>
        <div class="field d-flex mt-3">
          <div class="w-20">
            <%= f.label :email %><br/>
          </div>
          <div class="w-80">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100' %>
          </div>
        </div>

        <div class="field d-flex mt-3">
          <div class="w-20">
            <%= f.label :password %><br/>
          </div>
          <div class="w-80">
            <%= f.password_field :password, autocomplete: "current-password", class: 'w-100' %>
          </div>
        </div>

        <div class="mt-3 text-center text-red">
          <%= render 'layouts/flash' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field d-flex w-100 d-flex-center mt-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, style: 'margin-bottom: 0', class: 'ml-3' %>
          </div>
        <% end %>

        <div class="actions w-100 d-flex-center mt-3">
          <%= f.submit "Log in" %>
        </div>


    <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>


</div>




